body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.parallax-section {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-image: url('let_cook.png');
}

#section2 {
  background-image: url('let_cook.png');
}

/* Add more styling for additional sections */
